@use 'index' as *;

footer {
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: $marvel-grey;

  padding: 0 1rem;
}

.footer-footer {
  padding: 1rem 0;
  background-color: $marvel-grey;

  display: flex;
  gap: 2rem;

  .brand {
    height: 100%;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link {
    font-weight: bold;
  }
}

.copyright {
  @include flex-center-center;
  padding: 1rem 0;
  color: $white;
}
