
<footer>
  <div class="footer-footer">
    <div class="brand">
      <a [href]="marvel" target="_blank" rel="marvel.com" class="marvel"><span>M</span></a>
    </div>
    <div class="link-list">
      <a class="link" [href]="about" target="_blank" rel="about marvel">About Marvel</a>
      <a class="link" [href]="" target="_blank" rel="noopener noreferrer">About Marvel</a>
      <a class="link" [href]="" target="_blank" rel="noopener noreferrer">About Marvel</a>
      <a class="link" [href]="" target="_blank" rel="noopener noreferrer">About Marvel</a>
    </div>
  </div>
  <div class="copyright">
    <p>Data provided by Marvel. © 2021 MARVEL</p>
  </div>
</footer>
