<header>
  <a class="marvel" [href]="marvel" target="_blank" rel="marvel.com"><span>marvel</span></a>
  <p class="marvel-side"><span>Comics</span></p>
</header>
<nav class="navbar">
  <div class="navbar-nav">
    <div></div>
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="comics" routerLinkActive="active">Comics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="favorites" routerLinkActive="active" *ngIf="isAuthenticated">Favorites</a>
      </li>
    </ul>

    <div class="auth">
      <div *ngIf="!isAuthenticated;else logout" class="btn-group">
        <a class="nav-item nav-link" routerLink="login" routerLinkActive="active" >Login</a><span>|</span>
        <a class="nav-item nav-link" routerLink="signup" routerLinkActive="active" >Sign Up</a>
      </div>
      <ng-template #logout>
        <a class="nav-item nav-link" (click)="onLogout()">Logout</a>
      </ng-template>
    </div>
  </div>
</nav>
