<header>
  <a class="marvel" [href]="marvel" target="_blank" rel="marvel.com"><span>marvel</span></a>
  <p class="marvel-side"><span>Comics</span></p>
</header>
<nav class="navbar">
  <div class="navbar-nav">
    <div></div>
    <div class="nav-links">
      <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="comics" routerLinkActive="active">Comics</a>
      <a class="nav-item nav-link" routerLink="favorites" routerLinkActive="active">Favorites</a>
    </div>
    <div class="login">
      <a class="nav-item nav-link" (click)="onAuth()">{{ isAuthenticated ? 'Logout' : 'Login'}}</a>
    </div>
  </div>
</nav>
