<div class="banner">
  <h1 class="banner-text">spa for a bachelor thesis</h1>
</div>

<main>

  <section class="bg-image"></section>

  <section class="content">
    <article class="article">
      <div class="main-content">
        <h1 class="title">
          The purpose
        </h1>
        <p class="text">
          This application was created in the course of a bachelor thesis from the study program "Communication and Knowledge Media", at the University of Applied Sciences Upper Austria, Campus Hagenberg.
        </p>
        <p class="text">
          The topic of the thesis is "End-to-End Testing of Angular Single-Page Applications". More precisely, the two testing frameworks Cypress and Protractor are to be compared with each other in the course of the work.
        </p>
      </div>
      <aside class="image">
        <img src="../../../assets/images/pexels-van-dos-santos-comic1.jpg" alt="Image of a comic nerd reading a comic.">
      </aside>
    </article>

    <article class="article">
      <div class="main-content">
        <h1 class="title">
          The application
        </h1>
        <p class="text">
          This single-page application was implemented with Angular. All data about comics and characters displayed in this application is accessed by the Marvel Comics API.
          (<a class="link" [href]="about" target="_blank" rel="about marvel">MORE ABOUT MARVEL</a>)
        </p>
        <p class="text">
          To acknowledge those creators of the other images used, here is a special thanks to Van dos Santos of Pexels and Erik Mclean of Unsplash.
        </p>
        <p class="text">
          Registered and logged in users have the possibility to favorite comics. Favorited comics are stored in a separate nosql database. Google Firebase is used for this purpose.
        </p>
        <p class="text">
          Stored data will not be used for statistics or analysis, nor will it be shared with third parties. This application serves solely as a practical example for the bachelor thesis of Daniel Saiz.
        </p>
      </div>
      <aside class="image">
        <img src="../../../assets/images/pexels-van-dos-santos-comic2.jpg" alt="Image of a green lantern comic.">
      </aside>
    </article>

    <article class="article">
      <div class="main-content">
        <h1 class="title">
          The author
        </h1>
        <p class="text">
My name is Daniel!
        </p>
        <p class="text">
I am a student at the University of Applied Sciences Hagenberg. My passion and main focus is web development, so this bachelor thesis deals with a topic from this area.
        </p>
        <p class="text">
I'm an avid movie and series junkie, so I strictly follow the vastness of the Marvel universe.
        </p>
        <p class="text">
I would describe myself as a creative, motivated and determined jokester. As a firefighter, teamwork and helpfulness are very important to me.         </p>
      </div>
      <aside class="image">
        <img src="../../../assets/images/author.png" alt="Image of Daniel Saiz, the author of this application.">
      </aside>
    </article>
  </section>
</main>
