<div *ngIf="isLoading; Else notLoading">
  <app-loader></app-loader>
</div>

<ng-template #notLoading>
    <div class="form-container">
    <h2>Sign in with an existing user</h2>

    <div class="error-msg" *ngIf="error">
      {{ error }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
        </div>

        <div class="btn-group text-center">
            <button class="btn btn-primary mr-1">Login</button>
            <button class="btn btn-secondary" type="reset" (click)="onSwitchMode()">Sign Up</button>
        </div>
    </form>
  </div>
</ng-template>
