@use 'index' as *;

.comic-detail-container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  .bg-image {
    position: absolute;
    z-index: -99;
    @include w100h100;

    filter: blur(10px);
    -webkit-filter: blur(10px);

    @include transform(scale(1.1));

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content:'\A';
      @include w100h100;
      position: absolute;
      top:0;
      left:0;
      background:rgba($white, 0.6);
      opacity: .8;
    }
  }

  .card-style {
    @include card-style;
  }

  .comic-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 1rem 15vw;
  }
}

.main-content {
  position: relative;

  .inner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;

    max-width: 100%;
    height: fit-content;

    &>*:nth-child(1) {
      flex: 1 1 40%;
    }

    &>*:nth-child(2) {
      flex: 1 1 60%;
    }
  }

  .details {
    h1 a {
      color: $marvel-black;
    }

    .section {
      margin-top: 1rem;
    }

    .creators .creators-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
  }

  .thumbnail {
    min-width: 100px;
    width: 50%;
    max-width: 300px;

    img {
      width: 100%;
    }
  }
}

.more-details {
  .general-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    margin-bottom: 2rem;

    p span {
      margin-right: 0.2rem;
      font-weight: 800;
    }
  }
}

.characters {
  .inner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .character {
    min-width: 50px;
    max-width: 180px;
    height: 100%;

    img {
      @include w100h100;
    }
  }
}

.btn-classic {
  background: $marvel-red;
  font-family: $marvel-font;
  padding: 0.5rem 1rem;

  font-size: 1.2rem;
}

.btn-fav {
  position: absolute;
  top: 1rem;
  right: 1.5rem;

  border: none;
  background: none;
  cursor: pointer;

  font-size: 1.3rem;
}
